@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", serif;
    padding: 0;
    margin: 0;
}

/* Shared Style */
.black{
    font-size: 1.5em;
    color: black;
}
.black1{
    color: rgba(128, 128, 128, 1);
    font-size: 0.9em;
    font-weight: 500;


}
.all-h1{
    font-size: 3.5em;
    font-weight: bold;

}

.all-h2{
    font-size: 2.8em;
    font-weight: bold;
    color: black;

}
.all-h4{
    font-size: 1.5em;
    font-weight: bold;


}

.menu-display-none, #hr-line-display-none{
    display: none;

}
.hr-line-display-none{
    margin-top: 10px;
    border: 1px solid rgb(238, 145, 145);
}


/* .menu-display-none{
    display: none;
} */

.display-none1{

}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-decoration{
    text-decoration: none;

}

/* Header Area */

.header-area{
    /* max-width: 1200px; */
    /* margin: auto; */
    padding-top: 20px;
}
.navbar{
    margin: auto;
    max-width: 1200px;
    text-align: center;
    


}
.nav-1{
    

}

.nav-left{
    width: 25%;
    display: flex;
    gap: 10px;
    align-items: center;

}
.nav {

}

.nav-right{
    width: 70%;


}
.all-ul{
   
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    
}

.nav-2{
    width: 60%;
  
}

.nav-3{
    width: 40%;
    text-align: right;

}


.color1{
    color: rgb(235, 56, 160);
    font-weight: 500;
    font-size: 1.4em;


}

.color2{
    color: plum;
    font-weight: 500;
    font-size: 1.4em;


    
}

.color3{
    color: rgb(132, 245, 87);
    font-weight: 500;
    font-size: 1.4em;


    
}
.color4{
    color:coral;
    font-weight: 500;
    font-size: 1.4em;

    
}

.button1{
    padding: 10px 30px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    font-size: 1.4em;
    font-weight: 500;
    color: #ffffff;

}
.button1:hover{
    background-color: aquamarine;
    transform: rotate(10deg);


}

/* Banner Section  */

.banner{
    margin: auto;
    max-width: 1200px;
    /* padding-top: 130px; */
}
.banner-display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;


} 
.banner-heading{
    /* max-width: 600px; */
    width: 50%;


}
.width-h1{
    max-width: 577px;
}
.empower{
    color: cadetblue;

}
.vision{
    color: rgb(76, 135, 245);


}


.button2{
    padding: 10px 30px;
    background-color: rgb(27, 27, 27);
    color: white;
    border: none;
    border-radius: 10px;
}
.button2:hover{
    translate: 20px;

}

.banner-img{
    width: 40%;
}

/* Main Area styles. It's divided into two parts: Main Area 1 and Main Area 2 */


/* Main Area 1  */

.main-area-bg{
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.arrow-display-flex{
    max-width: 150px;
    display: flex;
    gap: 10px;

}
.arrow-center{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: orange;
    border-radius: 50px;


}

.main-area{
    margin-top: 80px;
}

.main-area1{
    text-align: center;
    /* margin-top: 70px; */
    max-width: 1200px;
    margin: auto;
    text-align: center;

}
.mainA-heading-margin{
    margin-bottom: 70px;
    
}

.box{
    width: 30%;
    /* border: 1px solid blue; */
    border-radius: 10px;
    box-shadow: inset 0px 5px 5px 3px rgb(185, 185, 185);


}
.box-id{

}
.box-img-size{
   width: 150px;
   height: 150px;

}
.box-items{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 30px;

}
.read-more{
    padding: 5px;
    border: none;
    background-color: #ffffff;
    font-size: 1em;
    font-weight: 700;


}
#read-more1{
    color: darkcyan;

}

#read-more2{
    color: rgb(233, 218, 17);
    
}
#read-more3{
    color: rgb(243, 41, 243);
    
}







/* Main Area 2  */






@media screen and (max-width:576px) {


    /* For Margin */
    .mainA-heading-margin{
        margin-bottom: 30px;

    }
    .main-area{
        margin-top: 50px;
    }
    .header-area{
        /* width: 100%; */

    }

    .navbar, .banner-heading, .banner-img{
        width: 90%;
        margin: auto;




    }
    .menu-display-none, #hr-line-display-none{
        display: block;
        width: 100%;
    }
    .arrow-display-none{
        display: none;
    }
    
    .nav-right{
        text-align: right;
    }


    .inner-flex{
        display: none;
    }


    .banner-display-flex{
        width: 100%;
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;

    }
    .all-h1{
        font-size: 2em;
        font-weight: bold;
    
    }
    .all-h2{
        font-size: 1.8em;
  
    
    }
    .all-h4{
        font-size: 1.1em;
    }

    .black{
        font-size: 0.9em;
        color: black;
    }
    .read-more{
        font-size: 0.8em;
    }
    /* .black1{
        font-size: 0.7em;
    } */
    .width-h1{
        
    }
    .banner-heading{
       
    }
    .banner-img-size{
        margin: auto;
        width: 100%;

            
    }
    .box-id{
        flex-direction: column;
        gap: 15px;
    }
    .box{
        width: 90%;
        margin: auto;
       
    }
}