@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", serif;
    padding: 0;
    margin: 0;
}

/* Shared Style */

.menu-display-none, #hr-line-display-none{
    display: none;

}
.hr-line-display-none{
    margin-top: 10px;
    border: 1px solid rgb(238, 145, 145);
}


/* .menu-display-none{
    display: none;
} */

.display-none1{

}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-decoration{
    text-decoration: none;

}

/* Header Area */

.header-area{
    /* max-width: 1200px; */
    /* margin: auto; */
    padding-top: 20px;
}
.navbar{
    margin: auto;
    max-width: 1200px;
    text-align: center;
    


}
.nav-1{
    

}

.nav-left{
    width: 25%;
    display: flex;
    gap: 10px;
    align-items: center;

}
.nav {

}

.nav-right{
    width: 70%;


}
.all-ul{
   
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    
}

.nav-2{
    width: 60%;
  
}

.nav-3{
    width: 40%;
    text-align: right;

}


.color1{
    color: rgb(235, 56, 160);
    font-weight: 600;


}

.color2{
    color: plum;
    font-weight: 600;

    
}

.color3{
    color: rgb(132, 245, 87);
    font-weight: 600;

    
}
.color4{
    color:coral;

    
}

.button1{
    padding: 10px 30px;
    background-color: orange;
    border-radius: 10px;
    border: none;

}
.button1:hover{
    background-color: aquamarine;
    transform: rotate(10deg);


}

/* Banner Section  */

.banner{
    margin: auto;
    max-width: 1200px;
    /* padding-top: 130px; */
}
.banner-display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;


} 
.banner-heading{
    /* max-width: 600px; */
    width: 43%;


}
.width-h1{
    /* max-width: 360px; */
}
.empower{
    color: cadetblue;

}
.vision{
    color: rgb(76, 135, 245);


}


.button2{
    padding: 10px 30px;
    background-color: rgb(27, 27, 27);
    color: white;
    border: none;
    border-radius: 10px;
}
.button2:hover{
    translate: 20px;

}

.banner-img{
    width: 40%;
    
    

}






@media screen and (max-width:576px) {

    .header-area{
        /* width: 100%; */

    }

    .navbar, .banner-heading, .banner-img{
        width: 90%;
        margin: auto;




    }
    .menu-display-none, #hr-line-display-none{
        display: block;
    }
    
    .nav-right{
        text-align: right;
    }


    .inner-flex{
        display: none;
    }


    .banner-display-flex{
        width: 100%;
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;

    }
    .width-h1{
        
    }
    .banner-heading{
       
    }


    .banner-img-size{
        margin: auto;
        width: 100%;

            
    }
}