@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", serif;
    padding: 0;
    margin: 0;
}

/* Shared Style */
.black{
    font-size: 1.5em;
    color: black;
}
.black1{
    color: rgba(128, 128, 128, 1);
    font-size: 0.9em;
    font-weight: 500;


}
.all-h1{
    font-size: 3.5em;
    font-weight: bold;

}

.all-h2{
    font-size: 2.8em;
    font-weight: bold;
    color: black;

}
.all-h4{
    font-size: 1.5em;
    font-weight: bold;


}
.all-h5{
    font-size: 1em;
    font-weight: 700;


}

.menu-display-none, #hr-line-display-none{
    display: none;

}
.hr-line-display-none{
    margin-top: 10px;
    border: 1px solid rgb(238, 145, 145);
}


/* .menu-display-none{
    display: none;
} */

.display-none1{

}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-decoration{
    text-decoration: none;

}

/* Header Area */

.header-area{
    /* max-width: 1200px; */
    /* margin: auto; */
    padding-top: 20px;
}
.navbar{
    margin: auto;
    max-width: 1200px;
    text-align: center;
    


}
.nav-1{
    

}

.nav-left{
    width: 25%;
    display: flex;
    gap: 10px;
    align-items: center;

}
.nav {

}

.nav-right{
    width: 70%;


}
.all-ul{
   
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    
}

.nav-2{
    width: 60%;
  
}

.nav-3{
    width: 40%;
    text-align: right;

}


.color1{
    color: rgb(235, 56, 160);
    font-weight: 500;
    font-size: 1.4em;


}

.color2{
    color: plum;
    font-weight: 500;
    font-size: 1.4em;


    
}

.color3{
    color: rgb(132, 245, 87);
    font-weight: 500;
    font-size: 1.4em;


    
}
.color4{
    color:coral;
    font-weight: 500;
    font-size: 1.4em;

    
}

.button1{
    padding: 10px 30px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    font-size: 1.4em;
    font-weight: 500;
    color: #ffffff;

}
.button1:hover{
    background-color: rgb(120, 150, 140);
    transform: rotate(10deg);


}

/* Banner Section  */

.banner{
    margin: auto;
    max-width: 1200px;
    /* padding-top: 130px; */
}
.banner-display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;


} 
.banner-heading{
    /* max-width: 600px; */
    width: 50%;


}
.width-h1{
    max-width: 577px;
}
.empower{
    color: cadetblue;

}
.vision{
    color: rgb(76, 135, 245);


}


.button2{
    padding: 10px 30px;
    background-color: rgb(27, 27, 27);
    color: white;
    border: none;
    border-radius: 10px;
}
.button2:hover{
    translate: 20px;

}

.banner-img{
    width: 40%;
}

/* Main Area styles. It's divided into two parts: Main Area 1 and Main Area 2 */


/* Main Area 1  */

.main-area-bg{
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.arrow-display-flex{
    max-width: 150px;
    display: flex;
    gap: 10px;

}
.arrow-center{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: orange;
    border-radius: 50px;


}
.circle:hover{
    background-color: #25df91;
}

.main-area{
    margin-top: 80px;
}

.main-area1{
    text-align: center;
    max-width: 1200px;
    margin: auto;
    text-align: center;

}
.mainA-heading-margin{
    margin-bottom: 70px;
    
}

.box{
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
   
  

}
#box1{
    background-image: linear-gradient(to bottom, rgba(73, 119, 38, 0.3) 10%, #ffffff 40%);

}
#box2{
    background-image: linear-gradient(to bottom, #f5c5c8 10%, #ffffff 40%);

}
#box3{
    background: linear-gradient(to bottom, #beb6e0 10%, #ffffff 40%);
    

}
.box-id{

}
.box-img-size{
   width: 150px;
   height: 150px;

}
.box-items{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 30px;

}
.read-more{
    padding: 5px;
    border: none;
    background-color: #ffffff;
    font-size: 1em;
    font-weight: 700;


}
#read-more1{
    color: darkcyan;

}

#read-more2{
    color: #FF8C94;
    
}
#read-more3{
    color: #C4B5FD;
    
}







/* Main Area 2  */

.main-area-bg{
    
    margin-top: 70px;
    background: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;


}
.color-bg{
    /* width: 100%; */
    background: linear-gradient(to top, #a7f19557 10%, #ffffff73 90%), url(assets/bg.png);
    /* background-repeat: no-repeat; */

    
}
 
.story-area-width{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;


}

.story-heading{
    

}
.box-container{
    display: flex;
    height: 600px;
    gap: 15px;
    
    

}
.box-part-1{
    background-color: white;
    width: 45%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
   


}
.box-part-2{
    width: 53%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    

}


.story-box{
    background-color: white;
    border-radius: 15px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);


}
#storybox1{

    
}
#storybox2{
    
}
.img-radius{
    /* position: relative; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;


}

.date-btn{
    position: absolute;
    text-align: center;
    padding: 12px 20px;
    border-radius: 20px;
    color: white;
    width: 150px;
    margin-top: -25px;
    margin-left: 30px;
    
}
.date-btn:hover{
    translate: 10px;

}
.contents{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.content{
    padding: 0px 18px;

}


#date-btn0{
    background-color: rgb(245, 102, 178);



}
#date-btn1{
    background-color: rgb(48, 241, 232);
    margin-left: 15px;


}
#date-btn2{
    background-color: rgb(240, 144, 20);
    margin-left: 15px;


}
#date-btn3{
    background-color: rgb(10, 92, 10);
    margin-left: 15px;


}
#date-btn4{
    background-color: rgb(142, 89, 247);
    margin-left: 15px;


}
#view-all{
    margin-bottom: 70px;
}


/* Footer Area Styles */

.footer{
    background-color: rgba(1, 172, 253, 1);
    color: #ffffff;
    height: 450px;
    display: flex;
    align-items: center;
    
}
.footer-h2{
    font-size: 2.6em;
    font-weight: 700;
}
.footer-h4{
    font-size: 1.5em;
    font-weight: 700;

}


.footer-area-width{
    max-width: 1200px;
    margin: auto;

}
.footer-display-flex{
    display: flex;
    
}

.footer1, .footer2, .footer3{
    flex: 1;

}

.footer1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer2{
    display: flex;
    justify-content: center;
}

.footer3{
    display: flex;
    justify-content: right;
    
}

.logo-kids-flex{
    display: flex;
    gap: 5px;
    align-items: center;
}
.footer-ul{
    list-style: none;
    
    
}
.footer-ul> li{
    margin-bottom: 15px;
}

.footer2-items{
    width: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer3-items{
    display: flex;
    flex-direction: column;
    gap: 40px;
}









@media screen and (max-width:576px) {


    /* For Margin */
    .mainA-heading-margin{
        margin-bottom: 30px;

    }
    .main-area{
        margin-top: 50px;
    }
    .header-area{
       

    }

    .navbar, .banner-heading, .banner-img{
        width: 92%;
        margin: auto;




    }
    .menu-display-none, #hr-line-display-none{
        display: block;
        width: 100%;
    }
    .arrow-display-none{
        display: none;
    }
    
    .nav-right{
        text-align: right;
    }


    .inner-flex{
        display: none;
    }


    .banner-display-flex{
        width: 100%;
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;

    }
    .all-h1{
        font-size: 2em;
        font-weight: bold;
    
    }
    .all-h2{
        font-size: 1.8em;
  
    
    }
    .all-h4{
        font-size: 1.1em;
    }

    .black{
        font-size: 0.9em;
        color: black;
    }
    .read-more{
        font-size: 0.8em;
    }
    /* .black1{
        font-size: 0.7em;
    } */
    .width-h1{
        
    }
    .banner-heading{
       
    }
    .banner-img-size{
        margin: auto;
        width: 100%;

            
    }
    .box-id{
        flex-direction: column;
        gap: 15px;
    }
    .box{
        width: 92%;
        margin: auto;
       
    }

    /* Main Area 2 */


    .story-area-width{
       width: 92%;
        height: 400px;
        margin: auto;
    }
    .color-bg{
        padding-bottom: 150px;

    }

    .story-heading{
        margin-top: 120px;

    }

    .box-container{
        flex-direction: column;
    }
    .box-part-1{
        display: none;
    }
    .box-part-2{
        width: 100%;
        margin: auto;
    }
    .date-btn{
        max-width: 80px;
        max-height: 15px;
        font-size: 9px;
        padding: 6px 2px;
        margin-top: -16px;

    }
    .content{
        padding: 13px;
   
    
    }
    .story-box{
        gap: 10px;
    }
    .all-h5{
        font-size: 0.6em;
    }


    /* Footer Area */

    .footer{
        /* margin-top: 110px; */
        height: 700px;
    }
    .footer-area-width{
        width: 92%;
        margin: auto;

    }
    .footer-display-flex{
        flex-direction: column;
        gap: 40px;
        
    }
    .footer1{
        max-width: 400px;

    }
    .footer1, .footer2, .footer3{
        justify-content: flex-start;
    }

    .footer1, .footer2-items, .footer3-items{
        gap: 15px;
    }
 
}    